
<section class="w-auto">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-4">
    <div class="max-w-prose rounded overflow-hidden p-12 sm:py-20 lg:py-20">
      <img class="w-full h-auto" src="https://shots.codepen.io/username/pen/bGeVKPq-800.jpg?version=1602617746" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-center">Project 1</div>
      </div>
      <div class="flex justify-center items-center">
        <button class="font-bold text-indigo-500 text-sm flex justify-center items-center">
          <span class="text-sm">Pelajari Lebih Lanjut</span>
          <span class="ml-2"><i class="fas fa-arrow-right"></i></span>
        </button>
      </div>
    </div>

    <!-- Sisipkan item berikutnya di sini sesuai kebutuhan -->
    <div class="max-w-prose rounded overflow-hidden p-12 sm:py-20 lg:py-20">
      <img class="w-full h-auto" src="https://shots.codepen.io/username/pen/bGeVKPq-800.jpg?version=1602617746" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-center">Project 2</div>
      </div>
      <div class="flex justify-center items-center">
        <button class="font-bold text-indigo-500 text-sm flex justify-center items-center">
          <span class="text-sm">Pelajari Lebih Lanjut</span>
          <span class="ml-2"><i class="fas fa-arrow-right"></i></span>
        </button>
      </div>
    </div>

    <div class="max-w-prose rounded overflow-hidden p-12 sm:py-20 lg:py-20">
      <img class="w-full h-auto" src="https://shots.codepen.io/username/pen/bGeVKPq-800.jpg?version=1602617746" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-center">Project 3</div>
      </div>
      <div class="flex justify-center items-center">
        <button class="font-bold text-indigo-500 text-sm flex justify-center items-center">
          <span class="text-sm">Pelajari Lebih Lanjut</span>
          <span class="ml-2"><i class="fas fa-arrow-right"></i></span>
        </button>
      </div>
    </div>

    <div class="max-w-prose rounded overflow-hidden p-8 sm:py-20 lg:py-20">
      <img class="w-full h-auto" src="https://shots.codepen.io/username/pen/bGeVKPq-800.jpg?version=1602617746" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-center">Project 4</div>
      </div>
      <div class="flex justify-center items-center">
        <button class="font-bold text-indigo-500 text-sm flex justify-center items-center">
          <span class="text-sm">Pelajari Lebih Lanjut</span>
          <span class="ml-2"><i class="fas fa-arrow-right"></i></span>
        </button>
      </div>
    </div>
  </div>
</section>
