<!-- CONTENT -->
<!-- Section Welcome -->
<section id="host">
  <div class="flex px-10">
    <div class="grid md:grid-cols-2 sm:grid-cols-1">
      <!-- Section Kiri -->
      <div class="w-full content-center">
        <h2 class="font-semibold text-4xl text-blueGray-500">
          Hello, I'm Rizki Apriliantono
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Welcome to my portofolio project, I am a website engineer since 2020, I graduated from Gunadarma university in 2021 and got a degree as a computer bachelor of information systems. I have an interest and talent in creating web applications as a frontend developer.So let's get to know me more
        </p>
      </div>
      <!-- Section Kanan -->
      <div class="flex-auto p-6 max-w-screen-md flex justify-center">
        <img src="assets/img/pattern_angular.png" alt="...">
      </div>
    </div>
  </div>
</section>

<!-- Section About Me -->
<app-about></app-about>

<!-- Section Sertification -->
<app-sertification></app-sertification>

<!-- Section Toolsexperience -->
<app-toolsexperience></app-toolsexperience>

<!-- Section myProject -->
<app-my-project></app-my-project>

<!-- Section Image Qoute -->
<app-crousel></app-crousel>

<!-- Section Contact -->
<app-contact></app-contact>
